:root {
  font-family: Helvetica, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #677186;
  background: #F9FAFB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100vw;
  height: 4.5rem;
  border-bottom: 3px solid #F0F2F5;
  background: #FDFDFD;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: #000;
    font-family: Helvetica;
    font-size: 2.21763rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  img {
    width: 4.6875rem;
    height: 4.125rem;
  }
  
  input {
    width: 47.5rem;
    height: 2.125rem;
    flex-shrink: 1;
    border-radius: 3.125rem;
    border: 3px solid #D8DCE3;
    background: #FFF;
    color: #677186;
    font-family: Helvetica;
    font-size: 1.20rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.4rem;
  }

  button {
    border: 0;
    width: 10.125rem;
    height: 2.5625rem;
    border-radius: 3.125rem;
    background: #6339DC;
    color: #FFF;
    font-family: Helvetica;
    font-size: 1.41194rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 3rem;
  }

  .title{
    display: flex;
    align-items: center;
    justify-content: start;
    width: auto;
  }

}

