$font_grey: #677186;
$purple: #6528F7;
$light_grey: #D8DCE3;
$lighter_grey:#EEF1F5;
$orange: #F3B664;
$red: #EA4242;
$green: #6DD871;
$dark_purple: #2C3373;
:root {
  font-family: Helvetica, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #677186;
  background: #F9FAFB;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#update-picture {
  border-radius: 10000px;
  max-width: 10.125rem;
  min-width: 10.123rem;
  max-height: 10.125rem;
  min-height: 10.125rem;
}

#upload-button {
  border: 0;
}

#logout_button {
  display: flex;
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 6rem;
  background-color: $purple;
  border: none;
  border-radius: 20px;
  transition: 0.3s;
}
#logout_button:hover {
  background-color: rgba(#6339DC, $alpha: 0.4);
  cursor: pointer;

}


.upload-picture {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
  input[type='file'] {
    display: none;
  }
  label {
    background-color: #6339DC;
    color: #FFF;
    border-radius: 5px;
    padding: 0.4rem;
    text-align: center;
    cursor: pointer;

  }
  label:active {
    background-color: #4627a1;
  }
  img {
    border: 3px solid transparent;
  }
}


.navbar {
  height: 4.5rem;
  border-bottom: 3px solid #F0F2F5;
  background: #FDFDFD;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    color: #000;
    font-family: Helvetica;
    font-size: max(1.8vw, 1.2rem); 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
  }

  img {
    width: 4.6875rem;
    height: 4.125rem;
  }
  
  input {
    width: 42rem;
    height: 2.125rem;
    border-radius: 3.125rem;
    border: 3px solid #D8DCE3;
    background: #FFF;
    color: #677186;
    font-family: Helvetica;
    font-size: 1.20rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1.2rem;
    margin-left: 1rem;
    transition: 0.5s;
    
  }

  input[type]:focus {
    border-color: #6339DC;
    outline: 0 none;
  }

  input:hover{
    border-color: #6339DC;
  }

  button {
    border: 0;
    width: 8.125rem;
    height: 2.5625rem;
    border-radius: 3.125rem;
    background: #6339DC;
    color: #FFF;
    font-family: Helvetica;
    font-size: 1.41194rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 1rem;
  }
  button:hover {
    background-color: #6d697c;
    transition: 0.4s;
  }
  

  .title{
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .modal {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    z-index: 1000;
    padding: 1.46rem;
    
    .close-login {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      button {
        width: 1.5rem;
        height: 1.5em;
        border-radius: 50%;
        margin: 0;
        background-color: transparent;
        border-radius: 50%;
        color: #FFF;
      }
      svg {
        border-radius: 50%;
        transition: 0.3s;
      }
      svg:hover {
        background-color: #e6e6e6;
        
      }

    }

    .login-main{
      h2 {
        padding-left: 0.3rem;
        color: black;
      }
      hr {
        margin: 0.5rem 0;
        border: 0.1rem solid $font_grey;
        border-radius: 25px;

      }
      display: flex;
      flex-direction: column;
      input {
        margin-bottom: 0.8rem;
        width: 20rem;
        border-width: 2px;
        padding-left: 2rem;
        border-radius: 10px;
      }

      
    }
    .login-button{
      display: flex;
      justify-content: center;
      margin: 0.125rem;
    }
  }

  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.7);
    z-index: 1000;
  }

  @media screen and (max-width: 900px) {
    .guest-buttons {
      display: none;
    } 
    
  }



}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  max-height: 1080px;
  align-items: center;
  
  .sidebar {
    display: flex;
    flex-direction: column;
  }
}

.authenticated-navbar {
  position: fixed;
  width: 100%;
  height: 4.5rem;
  border-bottom: 3px solid #F0F2F5;
  background: #FDFDFD;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: #000;
    font-family: Helvetica;
    font-size: 2.21763rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
    margin-right: 2rem;
  }

  img {
    width: 4.6875rem;
    height: 4.125rem;
    margin-right: 0.5rem;

  }
  
  .search-post {
    display: flex;
    width: 43rem;
    input {
      width: 100%;
      height: 2.125rem;
      border-radius: 3.125rem;
      border: 3px solid #D8DCE3;
      background: #FFF;
      color: #677186;
      font-family: Helvetica;
      font-size: 1.20rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      font-size: 1rem;
      padding: 1.2rem;
      transition: 0.5s;
      margin-right: 1.25rem;
    }
  
    input[type]:focus {
      border-color: #6339DC;
      outline: 0;
    }
  
    input:hover{
      border-color: #6339DC;
    }

  }

  @media screen and (max-width: 900px) {
    .search-post {
      display: none;
    } 

  }


  .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    #navbar-header {
      margin-right: 1rem;
      white-space: nowrap;
    }

    .navbar-img {
      border-radius: 10000px;
      max-width: 3.125rem;
      min-width: 3.123rem;
      max-height: 3.125rem;
      min-height: 3.125rem;
      transition: 0.1s;
    }

    .navbar-img:hover {
      border: 3px solid#4627a1;
      cursor: pointer;

    }

    ul {
      list-style-type: none;
    }

    .add-post {
      border: 4px solid #D8DCE3;
      width: 3.125rem;
      height: 3.125rem;
      border-radius: 100%;
      background: transparent;
      margin-right: 1rem;
      transition: 0.5s;
    }
  
    .add-post:hover{
      border-color: #6339DC;
      outline: 0;
      cursor: pointer;

  
    }

    a {
      text-decoration: none;
      color: $font_grey;
    }
  }


  .title{
    display: flex;
    align-items: center;
    justify-content: start;
    width: auto;
  }

}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  max-height: 1080px;
  align-items: center;
  
  .sidebar {
    display: flex;
    flex-direction: column;
  }
}

.authenticated-container {
  padding-top: 2.25rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  max-height: 1080px;
  
  .recommended{
    margin-top: 4.5rem;
    width: 25%;
    .card {
      width: 65%;
      .rec-community-item {
        display: flex;
        border-top: 2px solid $light_grey;
        gap: 1rem;
        padding-top: 0.125rem;
        #rank {
          font-size: 1.6rem;
          font-weight: bold;
          color: #000;
          margin-left: 1rem;
        }
        h4 {
          color: $purple;
        }

        img {
          object-fit: contain;
          width: 1.6rem;
          height: 1.6rem;
        }

        .com-count {
          display: flex;
          flex-direction: column;
          .top {
            display: flex;
            gap: 0.5rem;
          }
        }
      }
    }
  }

  .sidebar {
    position: fixed;
    left: 0;
    margin-top: 1.9rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    min-width: 20%;
    align-items: end;
    .sidebar-upper {
      display: flex;
      width: fit-content;
      flex-direction: column;
      margin-top: 5rem;
    }

    .sidebar-lower {
      display: flex;
      flex-direction: column;
      margin-top: 15rem;
    }
  }

  a {
    text-decoration: none;
    color: $font-grey;
    font-weight: 700;
    font-size: 1.41194rem;
    margin: 0.4rem;
  }

  .sidebar-link {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-bottom: 1rem;
    border-radius: 10px;
    svg {
      margin-bottom: 0.3rem;
      width: 2.81838rem;
      height: 2.4375rem;
    }
  }

  .sidebar-link:hover {
    transition: 0.2s;
    background-color: #D8DCE3;
  }

  .feed {
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: column;
    margin-left: 30rem;
  }

  .section-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #000;
    margin-top: 1.2rem;
    margin-bottom: 1rem;

  }

  .card{
    display: flex;
    flex-direction: column;
    background-color: #FDFDFD;
    border: 2px solid #D8DCE3;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 0.5rem;

    padding: 1rem;
    .profile-card {
      a {
        width: 8.0625rem;
        height: 2.2rem;
        margin-top: 0.8rem;
        margin-right: 0.8rem;
        border-radius: 2.75881rem;
        border: 0.883px solid #6339DC;
        background: #FFF;
        font-size: 1.1035rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
      }

      a:hover {
        transition: 0.2s;
        background: #6339DC;
        color: #FFF;
      }

      #edit-profile-button   {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }

      .profile-details{
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        overflow: hidden;
        #profile-picture {
          width: 7rem;
          height: 7rem;
          border-radius: 50%;
          border: 5px solid black;
        }
        .left{
          display: flex;
          flex-direction: column;
          .upper-details {
            display: flex;
            justify-content: center;
            align-items: center;
            #display-name {
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin-left: 1rem;
              h2 {
                color:black;
              }
            }
          }

          .lower-details {
            display: flex;
            width: 100%;
            margin-top: 1rem;
            margin-left: 1.8rem;
            font-size: 1.2  rem;
            #community-count {
              color: black;
              font-weight: bold;
              margin-right: 0.6rem;
            }
          }
        }

        .right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img {
            width: 7rem;
            height: 7rem;
          }
          #display-level {
            display: flex;
            justify-content: center;
            h2 {
              color:black;
            }
            
          }
        }
      }

      
    }

    .edit-card{
      display: flex;
      padding: 3rem 4rem 0 4rem;
      flex-direction: column;
      flex-wrap: wrap;
      min-width: 0;
      .edit-header {
        display: flex;
        align-items: center;
        margin-bottom: 1.3rem;
      }

      
      .input-row-container {
        display: flex;
        flex-wrap: wrap;
        min-width: 0;
        gap: 1rem;
      }

      .field-holder {
        position: relative;
        margin-bottom: 0.5rem;
        
        #input-birthday {
          max-width: 7rem;
        }
        
        input {
          border-radius: 10px;
          border: 2px solid #D8DCE3;
          background: #FFF;
          outline: none;
          margin-bottom: 1rem;
          height: 2rem;
          padding-left: 0.75rem;
          width: 100%;
          min-width: 14rem;
        }

        label {
          transition: 0.3s;
          pointer-events: none;
          position: absolute;
          padding-left: 0.85rem;
          padding-top: 0.2rem;
          left: 0;
          top: 0;
          font-size: 1rem;
          display: flex;
          align-items: center;
        }

        #street-address {
          width: 100%;
        }
        
        input:focus ~ label,
        input:valid ~ label
        {
          transform: translateY(-23px);
          font-size: 0.85rem;
        }
      }
    }
    .button-section {
      display: flex;
      justify-content: center;
    }
    button {
      width: 8.0625rem;
      height: 2.2rem;
      margin-top: 0.8rem;
      margin-right: 0.8rem;
      border-radius: 2.75881rem;
      border: 0.883px solid #6339DC;
      background: #FFF;
      font-size: 1.1035rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.2rem;
    }
    
    button:hover {
      transition: 0.2s;
      background: #6339DC;
      color: #FFF;
      cursor: pointer;

    }
    

    .notification {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      img {
        border-radius: 10000px;
        object-fit: cover;
        max-width: 3.125rem;
        min-width: 3.123rem;
        max-height: 3.125rem;
        min-height: 3.125rem;
      }

      #bold {
        font-weight: bold;
        color: black;
      }
    }
  }

  .user-posts {
    width: 100%;
    .section-header{
      img {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
      }
    }

  }

}

.dropdown-menu{
  border: 2px solid $purple;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 80px;
  right: 20px;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  width: 15rem;
  gap: 0.5rem;
  h3 {
    border-bottom: 2px solid gray;
    margin-bottom: -0.5rem;
  }

  .dropdown-picture {
    height: 7rem;
    width: 7rem;
    border-radius: 10000px;
  }

  a:hover {
    transition: 0.2s;
    color: $purple;
  }

}


.post{
  display: flex;
  flex-direction: column;
  background-color: #FDFDFD;
  border: 2px solid #D8DCE3;
  border-radius: 15px;
  width: 80%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  gap: 0.5rem;
  .post-header{
    display: flex;
    justify-content: space-between;
    .left {
      display: flex;
      gap: 0.5rem;
      .post-image {
        height: 3rem;
        width: 3rem;
        border-radius: 10000px;
        object-fit: cover;
      }

      .post-user {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        #post-time {
          margin-top: -0.5rem;
          font-size: 0.9rem;
        }
      }
    }

    .right {
      color: #6339DC;
      font-weight: 700;
      font-size: 1.2rem;
    }
  }
  .post-content{
    text-align: center;
    .post-image {
      object-fit: cover;
      width: 100%;
      border-radius: 20px;
      max-width: 41.375rem;
      max-height: 21.9375rem;
    }
  }
  
  .post-footer {
    display: flex;
    padding-left: 2rem;
    justify-content: flex-start;
    gap: 0.5rem;
    .footer-item {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .heart:hover {
      transition: 0.2s;
      fill: rgb(255, 40, 40);
      
    }
    .count {
      padding-top: 0.25rem;
    }
  }
}


.admin-dashboard{
  height: 100svh;
  padding-top: 6rem;
  padding-left: 2rem;
  display: flex;
  background-image: url('../../public/cool-background\ .svg');
  flex-direction: column;
  align-items: center;
  .admin-header {
    color: #677186;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    padding-left: 10rem;
  }

  .admin-container {
    display: flex;
    margin-top: 1rem;
    width: 80%;
    border-radius: 20px;
    color: white;
    justify-content: center;
    .left {
      display: flex;
      flex-direction: column;
      background-color: $purple;
      padding: 2rem;
      width: 15%;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
      gap: 4rem;
      height: 40rem;
      word-wrap: break-word;
      a {
        text-decoration: none;
        color: #FFF;
        font-size: 1.5em;
        font-weight: bold;
      }      
    }

    .right {
      width: 60svw;
      background-color: #F0F2F5;
      .users-table{
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: $font_grey;
        padding: 2rem;

        .user-count{
          width: 10rem;
          background-color: #6DD871;
          border-radius: 10px;
          padding: 1rem;
          color: #FFF;
          font-weight: bolder;
          margin-bottom: 1rem;
        }

        table {
          border-collapse: collapse;
          width: 95%;
        }
        td {
          padding: 0.2rem;
          text-align: start;
        }

        tr:nth-child(odd) {
          background-color: $light_grey;
        }
        tr{
          background-color: #EAEEF3;
        }
        th{
          background-color: orange;
          color: white;
          padding:  0 0.4rem;
          text-align: start;
        }
        th, td {
          padding-left: 0.5rem;
        }
      }
    }
  }
  .btn-delete{
    border: 0;
    background-color: $red;
    color: white;
    width: 4rem;
    height: 2rem;
    border-radius: 15px;
    cursor: pointer;
  }

  .btn-edit{
    text-decoration: none;
    background-color: $green;
    color: white;
    display: flex;
    width: 4rem;
    height: 2rem;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
  }
  .table-actions {
    display: flex;
  }
  .edit-user-container {
    padding: 2rem 2rem 0 3rem;
    color: $font_grey;
    .edit-form{
      display: flex;
      margin-top: 2rem;
    }
    .edit-left {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      
      label, input {
        height: 2rem;
        margin:0 0 .5rem;
      }
      input {
        padding-left: 1rem;
        border: 1px solid $light_grey;
        width: 15rem;
        border-radius: 2px;
      }
      button {
        width: fit-content;
        padding: 0.5rem;
        background-color: $purple;
        border: 0;
        color: white;
        font-weight: 300;
        border-radius: 5px;
        cursor: pointer;
      }
      .edit-labels {
        display: flex;
        flex-direction: column;
        color: $font_grey;
        width: 40%;
        align-items: end;
        margin-top: 0.25rem;
      }
      .edit-inputs {
        display: flex;
        margin-left: 1rem;
        width: 30%;
        flex-direction: column;
        .gender-container {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          input[type=radio] {
            border: 0px;
            margin: 0;
            
            width: 100%;
            height:1rem;
        }
        }
      }
    }

    .edit-right {
      width: 50%;
      border-left: 1px solid $light_grey;
      .edit-text {
        font-size: 1rem;
        margin-bottom: -0.5rem;
      }
    }

    
  }
  
}

.loading {
  text-align: center;
}

.communities-container {

  .top-section{
    padding: 2rem;
    .add-community-button {
      text-decoration: none;
      color: white;
      background-color: $green;
      padding: 1rem;
      border-radius: 5px;
      font-weight: bold;
    }
  }
}

.add-community-container{
  color:$font_grey;
  margin-top: 2rem;
  margin-left: 2rem;
  .community-form{
    display: flex;
    margin-top: 2rem;
    width: 75%;
    .community-labels {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 25%;
      margin-bottom: 2rem;
      margin-right: 2rem;
    }
    .community-inputs {
      display: flex;
      flex-direction: column;
    }

    label{
      margin-bottom: 2.1rem;
    }
    input {
      margin-bottom: 1.8rem;
      border: 1px solid $light_grey;
      width: 15rem;
      height: 2rem;
      border-radius: 2px;
    }
    textarea{
      padding: 0.5rem;
      width: 15rem;
      font-family: Arial, Helvetica, sans-serif;
    }

    .community-right {
      margin-left: 10rem;
    }
    #update-picture {
      border-radius: 10000px;
      border: 2px solid $font_grey;
      max-width: 10.125rem;
      min-width: 10.123rem;
      max-height: 10.125rem;
      min-height: 10.125rem;
    }
  }

}


.landing-bg {
  background-image: url('/landing-bg.svg');
  
  input {
    width: clamp(5rem, 10vw + 3rem, 20rem);
    height: 2.125rem;
    border-radius: 3.125rem;
    border: 3px solid #D8DCE3;
    background: #FFF;
    color: #677186;
    font-family: Helvetica;
    font-size: 1.20rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1.2rem;
    transition: 0.5s;
    
  }

  input[type]:focus {
    border-color: #6339DC;
    outline: 0 none;
  }

  input:hover{
    border-color: #6339DC;
  }
  
  .close-login {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    button {
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 50%;
      margin: 0;
      background-color: transparent;
      color: #FFF;
      border: 0;
    }
    svg {
      border-radius: 50%;
      transition: 0.3s;
      width: 1.75rem;
      height: 1.75rem;
      cursor: pointer;
    }
    svg:hover {
      background-color: #e6e6e6;
      
    }

  }
    
  
   
  
  .modal {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    z-index: 1000;
    padding: 1.46rem;
    width: 50rem;
  }
  
  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.7);
    z-index: 1000;
  }
  
  .landing-container {
    height: 100dvh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    text-align: center;
    align-items: center;
    .landing-title {
      font-size: clamp(1rem, 5vw, 20rem);
      color: $dark_purple;
      font-weight: bold;
      line-height: clamp(2rem, 4vw + 1rem, 6rem);
    }
    .landing-sub {
      color: black;
      font-size: clamp(1rem, 3vw, 2rem);
    }
  }
}

.sign-up {
  border: 0;
  background-color: $purple;
  color: white;
  padding: 1rem;
  font-size: clamp(0.4rem, 1vw, 3rem);
  border-radius: 10px;
  cursor: pointer;
}

.signup-inputs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .gender-container {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.3rem;
      input[type=radio] {
        border: 0px;
        margin: 0;
        width: 100%;
        height:2rem;
    }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.signup-main{
  display: flex;
  height: 50rem;
  h2 {
    padding-left: 0.3rem;
    color: black;
  }
  hr {
    margin: 0.5rem 0;
    border: 0.1rem solid $font_grey;
    border-radius: 25px;

  }
  display: flex;
  flex-direction: column;
  input {
    margin-bottom: 0.8rem;
    width: 20rem;
    border-width: 2px;
    padding-left: 2rem;
    border-radius: 10px;
  }

  
}
.sign-up:hover {
  background-color: $dark_purple;
}


.swal2-container {
  z-index:2000;
}

.sign-up-button-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 10rem;
}

.gender-container {
  display: flex;
  align-items: center;
  input[type=radio] {
    border: 0px;
    margin: 0;
    
    width: 100%;
    height:1rem;
}
}