$font_grey: #677186;

:root {
  font-family: Helvetica, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #677186;
  background: #F9FAFB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  height: 4.5rem;
  border-bottom: 3px solid #F0F2F5;
  background: #FDFDFD;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: #000;
    font-family: Helvetica;
    font-size: 2.21763rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  img {
    width: 4.6875rem;
    height: 4.125rem;
  }
  
  input {
    width: 47.5rem;
    height: 2.125rem;
    flex-shrink: 1;
    border-radius: 3.125rem;
    border: 3px solid #D8DCE3;
    background: #FFF;
    color: #677186;
    font-family: Helvetica;
    font-size: 1.20rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.4rem;
    transition: 0.5s;

  }

  input[type]:focus {
    border-color: #6339DC;
    outline: 0 none;
  }

  input:hover{
    border-color: #6339DC;
  }

  

  button {
    border: 0;
    width: 8.125rem;
    height: 2.5625rem;
    border-radius: 3.125rem;
    background: #6339DC;
    color: #FFF;
    font-family: Helvetica;
    font-size: 1.41194rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 1rem;
  }
  button:hover {
    background-color: #6d697c;
    transition: 0.4s;
  }
  

  .title{
    display: flex;
    align-items: center;
    justify-content: start;
    width: auto;
    margin-right: 2rem;
    h1 {
      white-space: nowrap;
      font-size: 2.21763rem;
    }
  }

  .modal {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    z-index: 1000;
    padding: 1.46rem;
    
    .close-login {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      button {
        width: 1.5rem;
        height: 1.5em;
        border-radius: 50%;
        margin: 0;
        background-color: transparent;
        border-radius: 50%;
        color: #FFF;
      }
      svg {
        border-radius: 50%;
        transition: 0.3s;
      }
      svg:hover {
        background-color: #e6e6e6;
        
      }

    }

    .login-main{
      h2 {
        padding-left: 0.3rem;
        color: black;
      }
      hr {
        margin: 0.5rem 0;
        border: 0.1rem solid $font_grey;
        border-radius: 25px;

      }
      display: flex;
      flex-direction: column;
      input {
        margin-bottom: 0.8rem;
        width: 20rem;
        border-width: 2px;
        padding-left: 2rem;
        border-radius: 10px;
      }

      
    }
    .login-button{
      display: flex;
      justify-content: center;
      margin: 0.125rem;
    }
  }

  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.7);
    z-index: 10000;
  }
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  max-height: 1080px;
  align-items: center;
  
  .sidebar {
    display: flex;
    flex-direction: column;
  }
}

.authenticated-navbar {
  width: 100%;
  height: 4.5rem;
  border-bottom: 3px solid #F0F2F5;
  background: #FDFDFD;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: #000;
    font-family: Helvetica;
    font-size: 2.21763rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
    margin-right: 2rem;
  }

  img {
    width: 4.6875rem;
    height: 4.125rem;
  }
  
  .search-post {
    display: flex;
    width: 43rem;
    input {
      width: 100%;
      height: 2.125rem;
      flex-shrink: 1;
      border-radius: 3.125rem;
      border: 3px solid #D8DCE3;
      background: #FFF;
      color: #677186;
      flex-shrink: 1;
      font-family: Helvetica;
      font-size: 1.20rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      font-size: 1rem;
      padding: 0.4rem;
      transition: 0.5s;
      margin-right: 1.25rem;
    }
  
    input[type]:focus {
      border-color: #6339DC;
      outline: 0;
    }
  
    input:hover{
      border-color: #6339DC;
    }
  
    

  }

@media screen and (max-width: 910px) {
  .search-post{
    display: none;
  } 
}


  .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    h3 {
      margin-right: 1rem;
      white-space: nowrap;
    }

    img {
      border-radius: 10000px;
      max-width: 3.125rem;
      min-width: 3.123rem;
      max-height: 3.125rem;
      min-height: 3.125rem;
      
    }

    .add-post {
      border: 4px solid #D8DCE3;
      width: 3.125rem;
      height: 3.125rem;
      border-radius: 100%;
      background: transparent;
      margin-right: 1rem;
      transition: 0.5s;
      flex-shrink: 0;
    }
  
    .add-post:hover{
      border-color: #6339DC;
      outline: 0;
  
    }
  }


  .title{
    display: flex;
    align-items: center;
    justify-content: start;
    width: auto;
  }

}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  max-height: 1080px;
  align-items: center;
  
  .sidebar {
    display: flex;
    flex-direction: column;
  }
}

.authenticated-container {

  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  max-height: 1080px;
  
  .sidebar {
    display: flex;
    flex-direction: column;
    min-width: 20%;
    align-items: end;
    .sidebar-upper {
      display: flex;
      width: fit-content;
      flex-direction: column;
      margin-top: 5rem;
    }

    .sidebar-lower {
      display: flex;
      flex-direction: column;
      margin-top: 15rem;
    }
  }

  a {
    text-decoration: none;
    color: $font-grey;
    font-weight: 700;
    font-size: 1.41194rem;
    margin: 0.4rem;
  }

  .sidebar-link {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-bottom: 1rem;
    border-radius: 10px;
    svg {
      margin-bottom: 0.3rem;
      width: 2.81838rem;
      height: 2.4375rem;
    }
  }

  .sidebar-link:hover {
    transition: 0.2s;
    background-color: #D8DCE3;
  }

  .feed {
    display: flex;
    width: 80%;
    justify-content: center;
  }
}

